<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h2>New Topic</h2>
      <%= form_for(@new_topic) do |f| %>
      <h5>タイトル</h5>
      <%= f.text_field :title %>
      <h5>本文</h5>
  　  <%= f.text_area :body %>
  　  <%= f.submit 'Create Topic', class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-xs-9">
    <h1>Topics</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>タイトル</th>
            <th>本文</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @topics.each do |topic| %>
          <tr>
    	      <td><%= topic.title %></td>
    	      <td><%= topic.body %></td>
    	      <td>
    	        <%= link_to "Show", topic_path(topic), class: "btn-sm btn-primary" %>
    	        <%= link_to "Edit", edit_topic_path(topic), class: "btn-sm btn-success" %>
    	        <%= link_to "Destroy", topic_path(topic), method: :delete, class: "btn-sm btn-danger", "data-confirm" => "本当に消しますか？" %>
    	      </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>